html {
    font-size: 62.5%;
}

body {
    font-family: 'Inter','Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

img {
    width: 60px;
    height: 60px;

    border: 5px solid white;
    border-radius: 50px;

    margin: 2rem 2rem 2rem 4rem;

    transition: transform .5s;
}

img:hover {
    transform: scale(1.15);
}

.card {
    position: absolute;
    top: 30vh;
    left: 40vw;

    width: 500px;

    border-radius: 30px;
    transform: rotate(-5deg);
    overflow: hidden;    

    box-shadow: 0 0 20px 30px #f9f9f9;

    transition: transform .5s;
}

.card:hover {
    transform: rotate(0);
}

.description {
    margin: 3rem;

    font-weight: 600;
}

.name {
    display: inline-block;
    color: white;

    vertical-align: middle;
}

.top-half {
    height: 60%;
    padding: 15px;
    font-size: 2rem;
}

.bottom-half {
    background: rgb(116,214,144);
    background: linear-gradient(90deg, rgba(92,191,187,1) 0%, rgba(116,214,144,1) 75%);

    height: 40%;

    font-size: 2rem;
    font-weight: 600;

    display: flex;
    flex-direction: row;
    
    justify-content: flex-start;
    align-items: center;

}