html {
    font-size: 62.5%;
}

body {
    background: url(../assets/images/background-stary-sky-320.jpg);
    background-size: cover;


    font-family: 'Poppins', sans-serif;
    color: white;

    text-align: center;
}

h1 {
    font-weight: 900;
    /* text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2); */
    text-shadow: 2px 2px 0 #000;
}

h2 {
    font-weight: 300;
    background-color: rgba(0, 0, 0, 0.5);
    letter-spacing: 1.5px;
}

.heading {
    display: flex;
    flex-direction: column;

    height: 100vh;

    justify-content: center;
    align-items: center;

    font-size: 2rem;
}



@media screen and (min-width: 853px) {
    body {
        background: url(../assets/images/background-stary-sky-893.jpg);
        background-size: cover;
    }

    .heading {
        font-size: 3rem;
    }

}

@media screen and (min-width: 1228px) {
    body {
        background: url(../assets/images/background-stary-sky-1385.jpg);
        background-size: cover;
    }

    .heading {
        font-size: 3rem;
    }
}



@media screen and (min-width: 1440px) {
    body {
        background: url(../assets/images/background-stary-sky-1440.jpg);
        background-size: cover;
    }

    .heading {
        font-size: 3rem;
    }
}